body{
  text-align: center;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #000;
  position: relative;
  padding: 0;
  color: #fff;
  overflow-x: hidden;
  font-family: 'Freckle Face', cursive;
}

.container{
 text-align: center;
  height: 600px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.paper{
  width: 50%;
  transform: translate(50%,0);
  height: 250px;
  background: url('../images/paper.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  color: #333;
}

.paper p{
  width: 50%;
  transform: translate(50%,0);
}
